<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%highlight{%-5level:%80c{-10} -- %msg  %xEx%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=blue, DEBUG=black, TRACE=black}</pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <loggers>
        <logger name="org.apache.catalina.util.lifecyclebase" level="warn" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.apache.coyote.http11.http11nioprotocol" level="info" additivity="false" >
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.springframework.web" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.springframework.aop" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.springframework.beans" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.hibernate" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <root level="debug">
            <appenderref ref="Console" />
        </root>
    </loggers>
</Configuration>