/*@media (min-width: 769px)
.container {
	width: 750px;
}*/
/*.container-fluid{
	margin: 0 auto;
	padding: 0 20%;
}*/
body{
	font-size: 12px;
	font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
	text-rendering: optimizeLegibility;
	background-color: #f4f5f5;
	color: #333;
	word-break:break-all;
}
body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, menu, nav, section, summary{
	margin: 0;
	padding: 0;
	border: 0;

}
nav.navbar-default{
	background-color:white;
	padding: 0 10%;
	font-size:medium;
}
a.navbar-brand{
	margin: -15px 0 0 10%;
}
div.navbar-collapse.collapse{
	margin-left: 16%;
}
div#navigation	 ul{
	margin-left: 10%;
}
div.navbar-collapse.collapse input,div.ui.button{
	margin-top:7px;
}
/*搜索框*/
div.navbar-collapse.collapse input{
	width:15%;
	height: 36px;
	margin-left: 10%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #555;
	border-bottom: 3px solid transparent;
	background: rgba(0,0,0,.05);
	border-radius: 0;
	background-color: transparent;
	border-color: #3b83c0;
	box-shadow: none;
	color: rgba(0,0,0,.8);
}
ul.nav>.blue{
	margin-left: 30px;
}

/*content*/
div.container-fluid{
	margin-top: 40px;
	min-height: 500px;
}
/*左边导航栏*/
div.ui.vertical.menu{
	width: 50%;
	position: absolute;
	left:30%;
	font-size: medium;

}
/*右边*/
div#news-body{
	width: 85%;
}
div.segment h3{
	margin-bottom: 5px;
}
div.item div.content{
	margin-left: 2%;
}
div.item div[class*="button"]{
	margin-top: 10px;
}
/*footer*/
div.footer{
	margin-top: 100px;
}
div.footer>.middle{
	text-align: center;
}
div.footer>div.divider{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
}
